html,
body {
    background-color: #131313;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;

}


.screen-elements {
    /* display: flex; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 100% !important;

    margin-bottom: 0;
    padding: 0 20px;
    gap: 20px;
    box-sizing: border-box;
}

/*
.screen-elements>div {
    flex: 1;
    margin: 0 10px;
} */


#sidePanel {
    top: 30px;
    min-width: 300px;
    height: 90vh;

    background-color: #4432B1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5vh 0;
    position: sticky;
    min-height: 500px;
}

#sidePanel a {
    text-decoration: none;
    color: black;
}

#sidePanel h3 {
    font-size: 30px;
    color: white;
    font-weight: 400;
}

.links img {
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
}

#sidePanel container {
    height: 98%;
}

.sidePanelButton {
    height: 60px;
    width: 90%;
    color: white;
    background-color: #553EE0;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 32px;
}

.sidePanelButton:hover {
    background-color: #35258f;
}

#closeBtn {
    display: none;
}

#closeBtn img {
    filter: brightness(0) invert(1);
    width: 30px;
    height: 20px;
}


#announcement-section {

    width: 100%;
    height: 90%;

    margin-top: 30px;

    border-radius: 10px;


    display: flex;
    flex-direction: column;
    gap: 5px;
}

#announcements-text {
    display: inline;
    font-size: 32px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    padding: 13px;
    border-radius: 10px;
    background-color: #FF6751;
    width: 100%;
    min-width: 400px;
    height: 60px;
    /* letter-spacing: 5px; */
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

h3 {
    margin: 0;
}

#announcement-cards {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    margin-bottom: 20px;

}


.announcement-card {
    background-color: #36373E;
    color: rgba(255, 255, 255, 0.5);
    width: calc(50% - 5px);
    min-width: 400px;
    min-height: 220px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex: 1 1 400px;

    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    font-size: 20px;
}


.announcement-title {
    text-align: left;
    font-size: bolder;
    font-size: 25px;
    color: white;
}

.more-btn {
    text-align: right;
}

.date-text {
    display: block;
    text-align: right;
}

.top-nav {
    z-index: 1000;
    height: 85px;
    width: calc(100% - 40px);
    padding: 0 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #4432B1;
    position: fixed;
    top: 10px;
    left: 20px;
    padding: 0px, 10px;
    border-radius: 10px;

}

.top-nav button {
    width: 100%;
    height: 85px;
    background-color: #4432B1;
    border: none;
}


#butonTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    #sidePanel {
        display: none;
        width: 100%;
    }

    #announcements-text {
        width: 100%;

    }

    #closeBtn {
        display: block;
    }

    .top-nav {
        display: flex;
        border-radius: 10px;
        /* margin: 20px 20px; */
    }

    #announcement-section {
        margin-top: 105px;
    }

    @media screen and (min-width: 769px) {
        #sidePanel {
            display: flex;
        }



        .top-nav {
            display: none;
        }
    }
}